<%= form_for(@epub) do |f| %>
  <% if @epub.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@epub.errors.count, "error") %> prohibited this epub from being saved:</h2>

      <ul>
      <% @epub.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book %><br>
    <%= f.text_area :book %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
